.flexBox {
    display: flex;
    gap: 3.5rem;
    flex-wrap: wrap;      
    margin-top: 1rem;    
    align-items: center;    
}

@media (max-width: 1380px) {
    .flexBox {
        justify-content: center;
    }
}

@media (max-width: 700px) {
    .flexBox {
        position: relative;
        top: 100px;        
        flex-wrap: nowrap;
        width: 2000px;
        padding-left: 1rem;        
    }
}