:root {
    --color-primary: #27AE60;
    --color-secundary: #EB5757;
    --color-foodName: #333333;
    --color-foodType: #828282;
    --color-cardBord: #E0E0E0;
    --color-imageBackground: #F5F5F5;
    --color-button: #BDBDBD;
    --color-white: white;
    --font-primary: 'Inter', sans-serif;

}