*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;    
}

a{
    text-decoration: none;
}

button{
	cursor: pointer;
	background-color: transparent;
	border: none;	
}
img{
	max-width: 100%;
}
input{
	background-color: transparent;
	border: none;
	height: 100%;
	outline: 0;
}