.header {
    background-color: var(--color-imageBackground);
    width: 100%;
       
}

.flexBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;    
}

.carForm {
    display: flex;
    flex-direction: row-reverse;
    gap: 2rem;
        
}

.searchIcon {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.carNumber {
    background-color: var(--color-primary);
    border-radius: 0.4375rem;
    padding: 0.3rem 0.3rem;
    color: var(--color-white);
}

.carIcon {
    color: var(--color-button);
}

@media (max-width: 700px) {
    .header {
        position: fixed;
        top: 0;
    }
}


